MONGO_URI=mongodb://dasuniqdeskai_db_user:qdeskdasuni@ac-khu2b3g-shard-00-00.6aorlig.mongodb.net:27017,ac-khu2b3g-shard-00-01.6aorlig.mongodb.net:27017,ac-khu2b3g-shard-00-02.6aorlig.mongodb.net:27017/Hackathon?ssl=true&replicaSet=atlas-6pv5ga-shard-0&authSource=admin&appName=Cluster0
PORT=5000